
    <!-- breadcrumbs -->
    <div class="container">
        <div class="breadcrumbs">
            <a href="index-1.html"><i class="las la-home"></i></a>
            <a href="#" class="active">Productos</a>
        </div>
    </div>

    <!-- shop list view -->
    <div class="shop_wrap section_padding_b">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 position-relative">
                    <div class="filter_box py-3 px-3 shadow_sm">
                        <div class="close_filter d-block d-lg-none"><i class="las la-times"></i></div>
                        <div class="shop_filter d-block d-sm-none">
                            <h4 class="filter_title">Sort by</h4>
                            <div class="sorting_filter mb-2">
                                <select class="nice_select">
                                    <option value="">Default sorting</option>
                                    <option value="">Price low-high</option>
                                    <option value="">Price high-low</option>
                                </select>
                            </div>
                        </div>

                        <div class="shop_filter">
                            <h4 class="filter_title">Categorias</h4>
                            <div class="filter_list">
                                <ng-container *ngFor="let categorie of categories">
                                    <div class="custom_check d-flex align-items-center">
                                        <input type="checkbox" class="check_inp" hidden [attr.id]="'cat-'+categorie.id" (click)="addCategorie(categorie)">
                                        <label [attr.for]="'cat-'+categorie.id"> {{ categorie.name }} </label>
                                        <p class="mb-0 ms-auto"> ({{ categorie.products_count }})</p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="d-flex align-items-center">
                        <div class="d-block d-lg-none">
                            <button class="default_btn py-2 me-3 rounded" id="mobile_filter_btn">Filter</button>
                        </div>
                        <div class="sorting_filter d-none d-sm-block">
                            <!-- <select class="nice_select">
                                <option value="">Default sorting</option>
                                <option value="">Price low-high</option>
                                <option value="">Price high-low</option>
                            </select> -->
                        </div>
                        <div class="view_filter d-flex align-items-center ms-auto">
                            <!-- <a href="shop-grid.html">
                                <div class="view_icon"><i class="icon-grid"></i></div>
                            </a>
                            <a href="shop-list.html">
                                <div class="view_icon active"><i class="las la-list-ul"></i></div>
                            </a> -->
                        </div>
                    </div>
                    <div class="shop_products">
                        <div class="list_view_products">
                           <ng-container *ngFor="let product of products">
                                <div class="single_list_product">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="list_product_img">
                                            <div class="lp_img">
                                                <a [href]="'/producto/'+product.slug">
                                                    <img loading="lazy"  [src]="product.imagen" alt="product">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="product_content">
                                            <a [href]="'/producto/'+product.slug">
                                                <h5>{{ product.title}}</h5>
                                            </a>
                                            <div class="ratprice">
                                                <div class="price">
                                                    <span class="org_price">S/{{ product.price_soles }}</span>
                                                </div>
                                            </div>
                                            <p class="product_list_desc"> {{ product.resumen }} </p>
                                            <div class="product_list_btns">
                                                <button class="list_product_btn" (click)="addCart(product)"><span class="icon"><i class="icon-cart"></i></span> Agregar al Carrito</button>
                                                <button class="list_product_btn wish"><span class="icon"><i class="icon-heart"></i></span> Me Encanta</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </ng-container> 
                        </div>
                    </div>
                    <div class="pagination_wrp d-flex align-items-center justify-content-center">
                        <div class="single_paginat active">1</div>
                        <div class="single_paginat">2</div>
                        <div class="single_paginat">3</div>
                        <div class="single_paginat">4</div>
                        <div class="single_paginat"><i class="las la-long-arrow-alt-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>