<!-- top header -->
<header class="home-2 d-none d-lg-block"  style="background-color: #000;">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="logo">
                <a routerLink="/"  >
                    <img loading="lazy" src="assets/images/logo_perfumeria2.jpg" alt="logo">
                </a>
            </div>
        </div>
    </div>
</header>

<!-- navbar -->
<nav class="home-2">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <a class="mobile_logo d-block d-lg-none">
                <img loading="lazy"  src="assets/images/svg/logo-white.svg" alt="logo">
            </a>
            <div class="all_category d-none d-lg-block">
                <div class="bars text-white d-flex align-items-center justify-content-center">
                    <span class="icon">
                        <i class="las la-bars"></i>
                    </span>
                    <span class="icon_text">Categorias</span>
                </div>
                <div class="sub_categories" [class.active]="isRouterActive()">
                    <h5 class="d-block position-relative d-lg-none subcats_title">
                        Categorias
                    </h5>
                    <ng-container *ngFor="let categorie of categories">
                        <a [href]="'/lista-de-productos?categorie_id='+categorie.id" class="singlecats">
                            <span class="img_wrp">
                                <!-- <i class="las la-female"></i> -->
                            </span>
                            <span class="txt"> {{ categorie.name }} </span>
                        </a>                    
                    </ng-container>
                </div>
            </div>
            <div class="search_wrap d-none d-lg-block">

                <div class="search d-flex">
                    <div class="search_category">
                        <select class="nice_select">
                            <option value="">Categoria</option>
                        </select>
                    </div>
                    <div class="search_input">
                        <input type="text" [(ngModel)]="search_product" (keyup.enter)="searchEnter()" placeholder="Buscar Productos..." id="show_suggest" #filter>
                    </div>
                    <div class="search_subimt">
                        <button>
                            <span class="d-none d-sm-inline-block" (click)="searchEnter()">Buscar</span>
                            <span class="d-sm-none d-inline-block"><i class="icon-search-left"></i></span>
                        </button>
                    </div>
                </div>
                <div class="search_suggest shadow-sm">
                    <div class="search_result_product">
                        <ng-container *ngFor="let sugerencia of sugerencias">
                            <a [href]="'/producto/'+sugerencia.slug" class="single_sresult_product">
                                <div class="sresult_img">
                                    <img loading="lazy"  [src]="sugerencia.imagen" alt="product">
                                </div>
                                <div class="sresult_content">
                                    <h4>{{ sugerencia.title }}</h4>
                                    <div class="price">
                                        <span class="org_price"> {{ sugerencia.price_soles }} PEN</span>
                                    </div>
                                </div>
                            </a>
                          </ng-container>
                    </div>
                </div>
            </div>
            <div class="header_icon d-flex align-items-center">
               <a href="/" class="icon_wrp text-center wishlist ms-0">
                    <span class="icon">
                        <i class="icon-heart"></i>
                    </span>
                    <span class="icon_text">Lista de Deseos</span>
                    <!--<span class="pops"></span>-->
                </a>
                <div class="shopcart">
                    <a  class="icon_wrp text-center d-none d-lg-block">
                        <span class="icon">
                            <i class="icon-cart"></i>
                        </span>
                        <span class="icon_text">Carrito</span>
                        <span class="pops">{{ listCarts.length }}</span>
                    </a>
                    <div class="shopcart_dropdown">
                        <div class="cart_droptitle">
                            <h4 class="text_lg">{{ listCarts.length }} Items</h4>
                        </div>
                        <div class="cartsdrop_wrap">

                        <ng-container *ngFor="let cart of listCarts" >
                            <a class="single_cartdrop mb-3">
                                <span class="remove_cart" (click)="removeItem(cart)"><i class="las la-times"></i></span>
                                <div class="cartdrop_img">
                                    <img loading="lazy"  [src]="cart.product.imagen" alt="product">
                                </div>
                                <div class="cartdrop_cont">
                                    <h5 class="text_lg mb-0 default_link">
                                        <a [href]="'/producto/'+cart.product.slug">{{cart.product.title}}</a>
                                    </h5>
                                    <p class="mb-0 text_xs text_p">x{{cart.cantidad}} <span class="ms-2"> S/{{cart.total}} </span></p>
                                </div>
                            </a>
                        </ng-container>
                            
                        </div>
                        <div class="total_cartdrop">
                            <h4 class="text_lg text-uppercase mb-0">Sub Total:</h4>
                            <h4 class="text_lg mb-0 ms-2">{{ TotalPrice }} PEN</h4>
                        </div>
                        <div class="cartdrop_footer d-flex mt-3">
                            <a routerLink="/carrito-de-compra" class="default_btn w-50 text_xs px-1">Ver Carrito</a>
                             <!-- <a routerLink="/proceso-de-pago" class="default_btn second ms-3 w-50 text_xs px-1">Verificar</a> -->
                        </div>
                    </div>
                </div>
                <div class="position-relative myacwrap">
                    <a href="javascript:void(0)" class="icon_wrp text-center myacc">
                        <span class="icon">
                           <i class="icon-user-line"></i>
                        </span>
                        <span class="icon_text">Cuenta</span>
                    </a>
                    <div class="myacc_cont">
                        <div class="ac_join">
                            <p *ngIf="user">Bienvenido {{ user.name }} a BellKy Cosmetic</p>
                            <p *ngIf="!user">Registrate y aprovecha nuestos productos</p>
                            <div class="account_btn d-flex justify-content-between" *ngIf="!user">
                               <a routerLink="/auth/registro" class="default_btn">Unirme</a>
                                <a routerLink="/auth/login" class="default_btn second">Ingresar</a>
                            </div>
                        </div>
                        <div class="ac_links" *ngIf="user">
                            <!--<a href="account.html" class="myac">
                                <i class="lar la-id-card"></i>
                                Mi Cuenta
                            </a>
                           <a href="account-order-history.html">
                                <i class="las la-gift"></i>
                                Mi Orden
                            </a>
                           <a href="wish-list.html">
                                <i class="lar la-heart"></i>
                                Lista de Deseos
                            </a>-->
                            <a href="/carrito-de-compra">
                                 <i class="icon-cart"></i>
                                Mi Carrito
                            </a>
                            <a href="#" onclick="return false;" *ngIf="user" (click)="logout()">
                                <i class="las la-power-off"></i>
                                Salir
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>







