<!-- footer area -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-md-0">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="footer_logo">
                            <img loading="lazy"  src="assets/images/logo_perfumeria3.png" alt="easy shop">
                        </div>
                        <div class="footet_text">
                            <p>Descubre la esencia de la elegancia y déjate envolver por nuestras fragancias exclusivas..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 mb-md-0">
                
            </div>
            <div class="col-lg-4">
                <div class="footer_download">
                    <div class="row">
                        <div class="col-lg-6 col-lg-12">
                            <h4 class="footer_title">Contact</h4>
                            <div class="footer_contact">
                                <p>
                                    <span class="icn"><i class="las la-map-marker-alt"></i></span>

                                    Breña y Real - En la Casa del artesano, frente a la plaza Constitución
                                </p>
                                <p class="phn">
                                    <span class="icn"><i class="las la-phone"></i></span>
                                    +924 395 601
                                </p>
                                <p class="eml">
                                    <span class="icn"><i class="lar la-envelope"></i></span>
                                    billdsalazar57@gmail.com
                                </p>
                            </div>
                        </div>
                        <div class="footer_social col-lg-6 col-lg-12">
                            <div class="footer_icon d-flex">
                                <a href="https://www.facebook.com/profile.php?id=100025054795944" class="facebook"><i class="lab la-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- copyright -->
<div class="copyright_wrap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="copyright_text">BELLKY COSMETIC - Belleza Natural</p>
            </div>
            <div class="col-md-6">
                <div class="payment_method">
                    <img loading="lazy"  src="assets/images/payment-method.png" alt="payment method">
                </div>
            </div>
        </div>
    </div>
</div>